/* VARIABLES */

:root {
/* font */
  --font: 'Commissioner', sans-serif;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

/* colors */
  --light-green: hsl(176, 50%, 47%);
  --dark-green: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 48%);
}
/* LAYOUT */
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font);
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  color: var(--gray);
  line-height: 2;
}
.button {
  height: 56px;
  background-color: var(--light-green);
  color: #fff;
  border: none;
  border-radius: 28px;
  padding: 0 2.8rem;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--weight-bold);
  outline: none;
  line-height: 100%;
  margin: 1rem 0;
}
.button:hover {
  background-color: var(--dark-green);
}
.button.out {
  background-color: var(--gray);
}
.main {
  background: #fafafa;
}
.section, .modal-selection, .modal-success {
  width: calc(100% - 3rem);
  max-width: 750px;
  padding: 1.5rem;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}
.section {
  position: relative;
  margin: 0 auto 1.5rem;
}
.stand, .modal-stand {
  position: relative;
  margin-bottom: 1.5rem;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  overflow: hidden;
}

.stand {
  padding: 1.5rem;
}

.modal-stand.active {
  border-color: var(--light-green);
  border-width: 2px;
}
.modal-container, .modal-selection ,.modal-success {
  display: none;
}


/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .65), rgba( 0, 0, 0, 0));
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3rem);
  max-width: 1110px;
  height: 100%;
  margin: auto;
}
.nav__logo {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    display: none;
  }
  
  .nav__button {
    position: relative;
    z-index: 300;
  }
  /* Menu active*/
  .nav__menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
  }
  .nav__list {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .nav__list {
    width: calc(100% - 3rem);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    overflow: hidden;
  }
  .nav__item:nth-child(2) {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
  .nav__link {
    display: block;
    padding: 1.5rem;
    color: var(--black);
    font-weight: var(--weight-medium);
  }
}

/* HERO */
.hero {
  line-height: 0;
}
.hero__img {
  width: 100%;
}

/* PRODUCT */
.product {
  margin-top: -3.5rem;
}
.product__title {
  text-align: center;
}
.product__description {
  text-align: center;
  margin-bottom: 1.5rem;
}
.product__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookmark {
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #f4f8f9;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--weight-bold);
  color: var(--gray);
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 28px;
  margin-left: 5px;
}
.bookmark span {
  display: none;
  padding-right: 28px;
  margin-left:10px;
}
.product::before {
  content: url('../images/logo-mastercraft.svg');
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  width: 56px;
  height: 56px;
  margin: auto;
  display: block;
}

/* DATA */
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data__info {
  position: relative;
  display: block;
  min-width: 140px;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: var(--weight-bold);
  line-height: .9;
}
.line::after {
  content: ' ';
  position: absolute;
  width: 100px;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: hsl(0, 0%, 75%);
}
.data__info--color {
  color: var(--gray);
  font-size: 1rem;
  font-weight: var(--weight-regular);
}

/* STANDS */
.stand__title {
  font-size: 1rem;
}
.stand__pledge {
  color: var(--light-green);
  font-weight: var(--weight-bold);
}
.stand__units {
  display: block;
  font-size: 2rem;
  font-weight: var(--weight-bold);
}
.stand__units span {
  font-size: 1rem;
  font-weight: var(--weight-medium);
  color: var(--gray);
}
.stand.out::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 75%, .5);
}

/* MODALS */
.modal-container.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
  overflow: scroll;
}
/* Selection modal */
.modal-selection.active {
  position: relative;
  top: 121px;
  margin: auto;
  display: block;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.stand-container {
  padding: 1.5rem;
}
.pledge {
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
}
.modal-stand.active > .pledge {
  display: flex;
  border-top: 1px solid #d8d8d8;
}
.pledge__text {
  color: var(--gray);
}

.pledge .button {
  padding: 0 1.5rem;
  font-size: .9rem;
  margin-top: 1.5rem;
}
.pledge__input {
  height: 56px;
  width: 100px;
  padding: 0 1.5rem;
  border:1px solid #d8d8d8;
  border-radius: 28px;
  margin-right: 10px;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: var(--weight-bold);
  text-align: center;
  outline: none;
}
/* Success modal */
.modal-success.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-success > .modal__info {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .bookmark span {
    display: inline;
  }

  .data {
    flex-direction: row;
    justify-content: space-around;
  }
  .data__info {
    padding: 0 2rem;
  }
  .line::after {
    width: 1px;
    height: 55px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .stand__title {
    font-size: 1.2rem;
    margin-top: 0;
    margin: 0;
  }

  .stand-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stand-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stand__pledge {
    display: inline;
  }
  .pledge {
    flex-direction: row;
    justify-content: space-between;
  }
  .pledge .button {
    margin-top: 0;
    margin-bottom: 0;
  }
} 
@media screen and (min-width: 768px) {
  
  .section, .modal-selection, .modal-success {
    padding: 3rem;
  }

  .stand {
    padding: 2rem;
  }

  .nav__button {
    display: none;
  }
  .nav__list {
    display: flex;
    list-style: none;
  }
  .nav__item {
    margin-left: 1rem;
  }

}